doctype html
html
    head 
        <script src="https://kit.fontawesome.com/b90229529e.js" crossorigin="anonymous"></script>
        title WeTube 
    body 
        header 
            h1 WeTube
        main 
            block content 
        include ../partials/footer