extends layouts/main


block content
    .form-container 
        form(action=routes.upload, method="get")
            label(for="video-file") Video File
            input(type="file", name="video-file")
            input(type="text", placeholder="Title", name="title")
            input(type="text", placeholder="Description", name="description")
            input(type="submit", value="Upload Video")
